    <div class="box-annonce-movie">

        <div class="box-annonce-movie-header">
            <div class="box-annonce-movie-title"><span class="glyphicon glyphicon-move"></span> Les annonces en vidéos</div>
            <ul class="box-toolbar">
                <li><span class="label label-default">4</span></li>
            </ul>
        </div>

        <div class="box-section">

            <div class="row  annonce-movie-box-conteneur">
                <div class="col-xs-4">
                    <img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="#" class="img-responsive"/>
                </div>
                <div class="col-xs-8 annonce-movie-box">
                    <div class="news-time"><span>7</span>Dec</div>
                    <h3>Le titre de l'annonce</h3>
                    <p class="movie-categorie"><a href="#">Categories / Ville </a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, enim ex facilis
                        nam repellendus veniam. Assumenda autem blanditiis cum.</p>


                    <div class="annonce-movie-box-options">
                        <img src="{{ asset('bundles/site/images/Avatars/user-8.jpg') }}" alt="Avatar" class="img-responsive avatar circle"/> Kris
                        <div class="star star-blue">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <span class="label label-warning pull-right">4000 €</span>
                    </div>

                </div>
            </div>

        <!-- ANNONCE NUMERO 2 -->
            <div class="row  annonce-movie-box-conteneur">
                <div class="col-xs-4">
                    <img src="{{ asset('bundles/site/images/Avatars/amandine.jpg') }}" alt="#" class="img-responsive"/>
                </div>
                <div class="col-xs-8 annonce-movie-box">
                    <div class="news-time"><span>7</span>Dec</div>
                    <h3>Le titre de l'annonce</h3>
                    <p class="movie-categorie"><a href="#">Categories / Ville </a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, enim ex facilis
                        nam repellendus veniam. Assumenda autem blanditiis cum.</p>


                    <div class="annonce-movie-box-options">
                        <img src="{{ asset('bundles/site/images/Avatars/user-2.jpg') }}" alt="Avatar" class="img-responsive avatar circle"/> Kris
                        <div class="star star-blue">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <span class="label label-warning pull-right">4000 €</span>
                    </div>

                </div>
            </div>

            <!-- ANNONCE NUMERO 3 -->
            <div class="row  annonce-movie-box-conteneur ">
                <div class="col-xs-4">
                    <img src="{{ asset('bundles/site/images/devices-site.png') }}" alt="#" class="img-responsive"/>
                </div>
                <div class="col-xs-8 annonce-movie-box">
                    <div class="news-time"><span>7</span>Dec</div>
                    <h3>Le titre de l'annonce</h3>
                    <p class="movie-categorie"><a href="#">Categories / Ville </a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, enim ex facilis
                        nam repellendus veniam. Assumenda autem blanditiis cum.</p>


                    <div class="annonce-movie-box-options">
                        <img src="{{ asset('bundles/site/images/Avatars/user-6.jpg') }}" alt="Avatar" class="img-responsive avatar circle"/> Kris
                        <div class="star star-blue">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <span class="label label-warning pull-right">4000 €</span>
                    </div>

                </div>
            </div>

            <!-- ANNONCE NUMERO 4 -->
            <div class="row  annonce-movie-box-conteneur ">
                <div class="col-xs-4">
                    <img src="{{ asset('bundles/site/images/apple_macbook_pro_retina_mc976na.jpg') }}" alt="#" class="img-responsive"/>
                </div>
                <div class="col-xs-8 annonce-movie-box">
                    <div class="news-time"><span>7</span>Dec</div>
                    <h3>Le titre de l'annonce</h3>
                    <p class="movie-categorie"><a href="#">Categories / Ville </a></p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, enim ex facilis
                        nam repellendus veniam. Assumenda autem blanditiis cum.</p>


                    <div class="annonce-movie-box-options">
                        <img src="{{ asset('bundles/site/images/Avatars/user-13.jpg') }}" alt="Avatar" class="img-responsive avatar circle"/> Kris
                        <div class="star star-blue">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div>
                        <span class="label label-warning pull-right">4000 €</span>
                    </div>

                </div>
            </div>

        </div>
    </div>