{% if annonces is empty %}
    <div class="col-xs-6 col-xs-offset-3">

        <div class="box">
            <div class="box-header">
                <div class="title"><i class="fa fa-eye-slash"></i> Vraiment désolé...</div>
            </div>
            <div class="box-section">
                Il n'y a rien qui correspond à votre demande.
            </div>
        </div>
    </div>

{% endif %}
{% for a in annonces %}
        <div class="box-annonce">
            <a href="{{ path('annonce_show',{'id': a.id } ) }}" class="box-annonce-link">

                <div class="box-annonce-header">
                    <div class="box-annonce-title"><span class="glyphicon glyphicon-tags"></span> {{ a.title|truncate(50) }}</div>
                    <ul class="box-toolbar">
                        <li><span class="label label-green">{{ a.price }} €</span></li>
                    </ul>
                </div>

                <div class="box-annonce-section">
                    <div class="box-annonce-img">
                        {% if a.picture != NULL %}
                            <img src="{{ asset('uploads/annonce/'~a.picture.path) }}" alt="{{ a.title }}" class="img-responsive"/>
                        {% else %}
                            <img src="{{ asset('bundles/site/images/No_image_available.svg') }}" alt="{{ a.title }}" class="img-responsive"/>
                        {% endif %}
                    </div>
                    <div class="box-annonce-body">
                        <div class="news-time"><span>{{ a.date|date('d') }}</span>{{ a.date|date('M') }}</div>
                        <a href="{{ path('annonce_usershow',{'id' : a.user.id }) }}">
                            <img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="Avatar" class="img-thumbnail-annonce img-responsive circle"/>
                            {{ a.user.username }}
                        </a>
                        <div class="star star-blue">
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                            <span class="glyphicon glyphicon-star-empty"></span>
                        </div><a href="{{ path('annonce_show',{'id': a.id } ) }}" class="box-annonce-link">
                            <p>{{ a.content|truncate(120) }}</p>
                        </a>
                    </div>
                </div>
                <div class="box-annonce-footer">
                    <div class="box-annonce-action">
                        <div class="box-annonce-nav" >

                            <ul class="list-inline">
                                <li><a href="{{ path('categorie_annonce',{'categorie':  a.category.category} ) }}">{{ a.category.category }}</a></li>
                                <li><a href="{{ path('ville_annonce',{'ville':  a.ville.slug} ) }}">{{ a.ville.nom }} ( {{ a.ville.postal|truncate(2, false, '') }} )</a></li>
                                <li><a href="#">52km</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-camera-retro"></i></a>
                                    <a href="#"><i class="fa fa-ambulance"></i></a>
                                    {% if a.user.isonline %}
                                        <a href="{{ path('fos_user_profile_show', {'id' : a.user.id }) }}" ><i class="fa fa-chain online"></i></a>
                                    {% else %}
                                        <a href="{{ path('fos_user_profile_show', {'id' : a.user.id }) }}"><i class="fa fa-chain-broken offline"></i></a>
                                    {% endif %}
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </a>
        </div>
{% endfor %}