<div class="container">
    {# Bloc du Breadcrumb #}

    <div class="row" role="breadcrumb">
        <div class="col-xs-12">
            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><span class="glyphicon glyphicon-home "></span> <a href="{{ path('annonce_homepage') }}" class="breadcrumb-link">Home</a></span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
                <div class="breadcrumb-sort pull-right">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Trier les annonces : <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Par date</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Par auteur</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-euro"></span>Par prix</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>

                <div class="breadcrumb-button">
                      <span class="breadcrumb-label"> <i class="fa fa-folder-open"></i> <a href="{{ path('annonce_homepage') }}" class="breadcrumb-link-inherit">Annonces</a> </span>
                      <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    {% if form_search_region is not null %}
                    <span class="breadcrumb-label"> <i class="fa fa-cloud "></i> <a href="{{ path('region_annonce', {'region': form_search_region.slug }) }}" class="breadcrumb-link-inherit">{{ form_search_region.nom }}</a></span>
                    {% else %}
                    <span class="breadcrumb-label"> <i class="fa fa-search"></i> <a href="{{ path('region_annonce', {'region': 1 }) }}" class="breadcrumb-link-inherit">Toute la france</a></span>
                    {% endif %}
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                {% if form_search is not null %}
                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <i class="fa fa-search"></i> <a href="{{ path('recherche_annonce') }}" class="breadcrumb-link-inherit">{{ form_search }} </a></span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
                {% endif %}


            </div>
        </div>
    </div> <!-- row breadcrumb -->

    <div class="row" role="annonces">

            {% if annonces is empty %}
                <div class="col-xs-6 col-xs-offset-3">

                    <div class="box">
                        <div class="box-header">
                            <div class="title"><i class="fa fa-eye-slash"></i> Vraiment désolé...</div>
                        </div>
                        <div class="box-section">
                            Il n'y a rien qui correspond à votre demande.
                        </div>
                    </div>
                </div>

            {% endif %}

            {% for a in annonces %}
            <div class="col-xs-12 col-md-6">
                <div class="box-annonce">
                    <a href="{{ path('annonce_show',{'id': a.id } ) }}" class="box-annonce-link">

                    <div class="box-annonce-header">
                        <div class="box-annonce-title"><span class="glyphicon glyphicon-tags"></span> {{ a.title|truncate(50) }}</div>
                        <ul class="box-toolbar">
                            <li><span class="label label-green">{{ a.price }} €</span></li>
                        </ul>
                    </div>

                    <div class="box-annonce-section">
                        <div class="box-annonce-img">
                            {% if a.picture != NULL %}
                                <img src="{{ asset('uploads/annonce/'~a.picture.path) }}" alt="{{ a.title }}" class="img-responsive"/>
                            {% else %}
                                <img src="{{ asset('bundles/site/images/No_image_available.svg') }}" alt="{{ a.title }}" class="img-responsive"/>
                            {% endif %}
                        </div>
                        <div class="box-annonce-body">
                            <div class="news-time"><span>{{ a.date|date('d') }}</span>{{ a.date|date('M') }}</div>
                            <a href="#">
                                    <img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="Avatar" class="img-thumbnail-annonce img-responsive circle"/>
                                    {{ a.user.username }}
                             </a>
                            <div class="star star-blue">
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                                <span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                            <p>{{ a.content|truncate(120) }}</p>
                        </div>
                    </div>
                    <div class="box-annonce-footer">
                        <div class="box-annonce-action">
                           <div class="box-annonce-nav" >

                               <ul class="list-inline">
                                   <li><a href="{{ path('categorie_annonce',{'categorie':  a.category.category} ) }}">{{ a.category.category }}</a></li>
                                   <li><a href="{{ path('ville_annonce',{'ville':  a.ville.slug} ) }}">{{ a.ville.nom }} ( {{ a.ville.postal|truncate(2, false, '') }} )</a></li>
                                   <li><a href="#">52km</a></li>
                                   <li>
                                       <a href="#"><i class="fa fa-camera-retro"></i></a>
                                       <a href="#"><i class="fa fa-ambulance"></i></a>
                                       <i class="fa fa-archive"></i>
                                   </li>
                               </ul>

                           </div>
                        </div>
                    </div>

                    </a>
                </div>

            </div>
            {% endfor %}

    </div> <!-- Role annonces -->

    <div class="row" role="pagination">
        <div class="text-center">
            <ul class="pagination pagination-sm">
                <li><a href="#">Précedente</a></li>
                <li {#class="active"#}><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">Suivante</a></li>
            </ul>
        </div>
    </div>
</div><!-- container -->