<div class="container">
    <div class="row" role="breadcrumb">
        <div class="col-xs-12">
            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><span class="glyphicon glyphicon-home "></span> <a href="{{ path('annonce_homepage') }}" class="breadcrumb-link">Annonces</a></span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
                <div class="breadcrumb-sort pull-right">
                    <div class="input-group">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Trier les annonces : <span class="caret"></span></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#"><span class="glyphicon glyphicon-calendar"></span> Par date</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-user"></span>Par auteur</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-euro"></span>Par prix</a></li>
                            </ul>
                        </div><!-- /btn-group -->
                    </div><!-- /input-group -->
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <i class="fa fa-folder-open"></i> <a href="{{ path('annonce_homepage') }}" class="breadcrumb-link-inherit">Annonce</a></span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <i class="fa fa-cloud"></i> <a href="{{ path('region_annonce', {'region': annonce.ville.departement.region.slug}) }}" class="breadcrumb-link-inherit">{{ annonce.ville.departement.region.nom }}</a> </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <i class="fa fa-folder-open-o"></i> <a href="{{ path('categorie_annonce', {'categorie': annonce.category.category }) }}" class="breadcrumb-link-inherit">{{ annonce.category.category }}</a> </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <i class="fa fa-bullhorn"></i> <strong>{{ annonce.title }}</strong>  </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
            </div>
        </div>
    </div> <!-- row breadcrumb -->
    <div class="row" role="Annonce">
        <div class="col-xs-12">
            <div class="show-annonce-box">
                <div class="col-xs-1  img-supplement">
                    {% if annonce.picturetwo is not empty %}
                        <img src="{{ asset('uploads/annonce/'~annonce.picturetwo.path) }}" alt="img" class="img-responsive"/>
                    {% endif %}

                    {% if annonce.picturethree is not empty %}
                        <img src="{{ asset('uploads/annonce/'~annonce.picturethree.path) }}" alt="img" class="img-responsive"/>
                    {% endif %}

                    {% if annonce.picturefour is not empty %}
                        <img src="{{ asset('uploads/annonce/'~annonce.picturefour.path) }}" alt="img" class="img-responsive"/>
                    {% endif %}
                </div>
                <div class="col-xs-7">
                    <div class="show-annonce-img">
                        {% if annonce.picture is not empty %}
                            <img src="{{ asset('uploads/annonce/'~annonce.picture.path) }}" alt="img" class="img-responsive"/>
                            {% else %}
                            <img src="{{ asset('bundles/site/images/No_image_available.svg') }}" alt="img" class="img-responsive"/>
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-4 div-no-padding">
                    <div class="col-xs-12 show-annonce">
                        <div class="news-time"><span>{{ annonce.date|date('d') }}</span>{{ annonce.date|date('M') }}</div>
                        <div class="show-annonce-title">
                            <h3> {{ annonce.title }}</h3>
                            <div class="show-annonce-option">
                                <span> <a href="#">
                                        <img src="{{ asset('uploads/avatar/'~annonce.user.avatar.path) }}" alt="" class="img-responsive circle"/>{{ annonce.user.username }}
                                    </a>
                                </span>
                                <div class="star star-blue">
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                    <span class="glyphicon glyphicon-star-empty"></span>
                                </div>
                                <span class="tarif">{{ annonce.price }}€</span>
                            </div>
                        </div>

                        <p>{{ annonce.content|nl2br }}</p>

                        <div class="show-annonce-action">
                            {% if isFriend %}
                                    <a href="#" class="btn btn-warning btn-annonce-remove-abonnement" rel="{{ annonce.user.id }}"><i class="fa fa-eraser"></i> Se désabonner</a>
                            {% else %}
                                    <a href="#" class="btn btn-blue btn-sm btn-annonce-add-abonnement" rel="{{ annonce.user.id }}"><i class="fa fa-bookmark"></i> S'abonner</a>
                            {% endif %}
                            <a href="#" class="btn btn-success btn-sm" id="btn-interested" data-toggle="modal" data-target="#modalInterest"> <i class="fa fa-book"></i>  Ca m'interesse</a>
                        </div>

                        <div class="formulaire-comment">
                            <form action="{{ path('annonce_show', {'id': annonce.id }) }}" method="post">
                                <div class="form-group">
                                    <div class="input-group">

                                        {{ form_errors(form_comment) }}

                                        {{ form_widget(form_comment.content) }}

                                        <span class="input-group-btn">
                                            {{ form_widget(form_comment.save) }}
                                        </span>

                                        {{ form_rest(form_comment) }}

                                     </div>
                                </div> <!-- Module du commentaire -->
                            </form>
                        </div>

                    </div> <!-- show annonce -->
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row" role="commentaires">
        <h3>Commentaires & Suggestions</h3>
        <div class="col-xs-5"></div>
        <div class="col-xs-7">
            <div class="box">
                <div class="box-header">
                    <div class="title"><span class="glyphicon glyphicon-comment"></span> Commentaire</div>
                    <span class="label label-primary pull-right">{{ comments|length }}</span>
                </div>
                <div class="box-section">

                    {% if comments %}
                    {% for c in comments %}
                    <!-- Commentaire numéro 1 -->
                    <div class="box-commentaire">
                        <div class="news-time">
                            <span>{{ c.date|date('d') }}</span>{{ c.date|date('M') }}
                        </div>
                        <div class="box-comment-avatar">
                            {% if c.user.avatar is not empty %}
                                <img src="{{ asset('uploads/avatar/'~c.user.avatar.path) }}" alt="img" class="img-responsive"/>
                            {% else %}
                                <img src="{{ asset('bundles/site/images/No_image_available.svg') }}" alt="img" class="img-responsive"/>
                            {% endif %}
                        </div>
                        <div class="box-comment-content">
                            <h5><a href="#">{{ c.user.username }}</a></h5>
                            <p>{{ c.content }}</p>
                        </div>
                    </div>
                    {% endfor %}
                    {% else %}
                        <p>Il n'y a aucun commentaire pour le moment.</p>
                    {% endif %}
                </div>
                <!-- Module d'ajout de commentaires -->
                <form action="{{ path('annonce_show', {'id': annonce.id }) }}" method="post">
                    <div class="form-group commentaire-form">
                        <div class="input-group">
                            {{ form_errors(form_comment_second) }}
                            {{ form_widget(form_comment_second.content,{'attr': {'class': 'form-control input-sm form-comment'}}) }}
                            <span class="input-group-btn">
                                {{ form_widget(form_comment_second.save) }}
                            </span>
                            {{ form_rest(form_comment_second) }}
                        </div>
                    </div> <!-- Module du commentaire -->
                </form>
            </div> <!-- Fin du Box-section -->
        </div> <!-- Fin du Box -->
        <button class="btn btn-danger btn-sm pull-right">Signaler cette annonce</button>
    </div>
</div><!-- Container -->

<!-- Modal -->
{% include "SiteBundle:ModalBox:AnnonceModal/Interest.html.twig" %}
<!-- /.modal -->