<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tinkernote Connected {% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite'
                'bundles/site/css/bootstrap.css'
                'bundles/site/css/font-awesome.min.css'
                'bundles/site/css/style.css'
                'bundles/site/css/annonce.css'
                'bundles/site/css/enAttente.css'
            %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>

    {% include ('SiteBundle:Site/Template:header.html.twig') %}

    <div class="site">
        {% block body %}{% endblock %}
    </div>


    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="footer text-right">
                    <p>&copy; Tinkernote 2014 designed by Tinkernote</p>
                </div>
            </div>
        </div>
    </div>

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

        {% block javascripts %}
            {% javascripts
            'bundles/site/js/jquery-2.1.1.min.js'
            'bundles/site/js/jquery.tablesorter.min.js'
            'bundles/site/js/bootstrap.min.js'
            'bundles/site/js/bootstrap-filestyle.min.js'
            'bundles/site/js/myfunction.js'
            'bundles/site/js/annonce.js'
            'bundles/site/js/abonnement.js'
            %}

            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
