<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid rowing">
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <nav class="navbar">
                <div class="navbar">
                    <div class="navbar-header col-xs-4 div-no-padding">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="{{ path('site_homepage') }}" class="navbar-brand">Tinkernote</a>

                        <ul class="nav navbar-nav" id="navbar-main">

                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} <!-- Si l'utilisateur est identifié -->

                            <li><a href="{{ path('annonce_add') }}">Ajouter une annonce</a></li>
                            <li class="dropdown">
                                <a href="{{ path('site_homepage') }}" class="dropdown-toggle" data-toggle="dropdown">Raccourcis <b class="caret"></b></a>
                                <ul class="dropdown-menu"> <!-- Affiche le dropdown -->
                                    <li><a href="{{ path('fos_user_security_login') }}">Identification</a></li>
                                    <li><a href="{{ path('annonce_homepage') }}">Homepage annonce</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Rechercher sur Tinkernote</a></li>
                                    <li><a href="{{ path('fos_user_profile_show',{'id': app.user.id }) }}">Voir mon profil</a></li>
                                </ul>
                            </li>
                        {% else %} <!-- Si il n'est pas connecté -->
                            <li><a href="{{ path('fos_user_registration_register') }}">
                                    <button type="button" class="btn btn-success btn-head-register">S'inscrire</button>
                                </a></li>
                            <li><a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié</a></li>
                        {% endif %}

                        </ul>
                    </div> <!-- navbar-header col-xs-4 -->

                    <div class="col-xs-4 pull-right">
                        {% render(controller('UserBundle:Security:loginPerso')) %}
                    </div>
                </div> <!-- navbar -->
            </nav> <!-- nav navbar-->
        </div> <!-- navbar-responsive-collapse -->
    </div> <!-- container -->
</div> <!-- navbar-fixed-top -->