<form action="{{ path('annonce_add') }}" {{ form_enctype(form) }} method="POST">
    <div class="container">
        <div class="col-xs-12">

        <div class="row" role="breadcrumb">
                <div id="breadcrumbs">
                    <div class="breadcrumb-button blue">
                        <span class="breadcrumb-label"><span class="glyphicon glyphicon-home "></span> <a href="{{ path('bloc_homepage') }}" class="breadcrumb-link">Home</a></span>
                        <span class="breadcrumb-arrow"><span></span></span>
                    </div>

                    <div class="breadcrumb-button">
                  <span class="breadcrumb-label">
                    <span class="glyphicon glyphicon-edit "></span> Publier une annonce
                  </span>
                        <span class="breadcrumb-arrow"><span></span></span>
                    </div>
                </div>
        </div> <!-- row breadcrumb -->

        <div class="row" role="formulaire">
            <div class="box">
                <div class="box-header">
                    <div class="title">Etape 1 > Description de votre annonce</div>
                </div>
                <!-- Contenu du formulaire -->
                <div class="box-section">
                    <!-- Début du bloc de droite -->
                    <div class="col-xs-6">
                        {{ form_errors(form) }}

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-align-center"></span></div>
                                {{ form_errors(form.title) }}
                                {{ form_widget(form.title, {'attr' : {'class' : 'form-control input-sm', 'placeholder' : 'Un titre pour votre annonce'}}) }}
                            </div>
                        </div>
                        <!-- Catégorie de l'annonce -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm">@</div>
                                {{ form_errors(form.parentCategory) }}
                                {{ form_widget(form.parentCategory, {'attr' : {'class' : 'form-control input-sm parentcategoryclass'}}) }}
                            </div>
                        </div>
                        <!-- Sous Catégorie de l'annonce -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm">@</div>
                                {{ form_errors(form.category) }}
                                {{ form_widget(form.category, {'attr' : {'class' : 'form-control input-sm categoryclass'}}) }}
                            </div>
                        </div>
                        <!-- Tarif de l'annonce -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-euro"></span></div>
                                {{ form_errors(form.price) }}
                                {{ form_widget(form.price, {'attr' : {'class' : 'form-control input-sm', 'placeholder' : 'Le tarif de ce produit'}}) }}
                            </div>
                        </div>

                        <div class="note pull-right">Please use a secure password</div>

                        <div class="form-group">
                            <label for="exampleInputFile">Photo du produit</label>
                            <input type="file" id="exampleInputFile">
                            <p class="help-block">Example block-level help text here.</p>
                        </div>

                    </div> <!-- Bloc de droite -->

                    <!-- Début du bloc de droite -->
                    <div class="col-xs-6">
                        <!-- Textarea -->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-align-center"></span></div>
                                {{ form_errors(form.content) }}
                                {{ form_widget(form.content) }}
                            </div>
                        </div>

                        {% if ( app.user.region.id is defined ) %}
                            {% set region = app.user.region.id %}
                            {% set departement = app.user.departement.id %}
                            {% set ville = app.user.ville.id %}
                        {% else %}
                            {% set region = '' %}
                            {% set departement = '' %}
                            {% set ville = '' %}
                        {%  endif %}
                         <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm iga-fosUser-register"><span class="glyphicon glyphicon-star"></span></div>
                                {{ form_widget(form.region,{'attr': {'class': 'form-control input-sm regionclass', 'rel': region }}) }}
                            </div>
                         </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm iga-fosUser-register"><span class="glyphicon glyphicon-star"></span></div>
                                {{ form_widget(form.departement,{'attr': {'class': 'form-control input-sm departementclass', 'rel': departement }}) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-addon input-sm iga-fosUser-register"><span class="glyphicon glyphicon-star"></span></div>
                                {{ form_widget(form.ville,{'attr': {'class': 'form-control input-sm villeclass', 'rel': ville }}) }}
                            </div>
                        </div>
                    </div>

                        <!-- Checkbox -->
                        <div class="form-group">
                            <div class="checkbox">
                                <ul class="list-inline">
                                    <li>
                                        <label>
                                            <input type="checkbox" value="">
                                            Option one is this and that
                                        </label>
                                    </li>
                                    <li>
                                        <label>
                                            <input type="checkbox" value="">
                                            Option one is this and that
                                        </label>
                                    </li>
                                </ul>

                            </div>
                        </div>

                    <div class="clearfix"></div>
                </div>
                <!-- Fin du contenu du formulaire -->
            </div>

        </div> <!-- role = formulaire-->

        <div class="row" role="formulaire extended">
            <div class="box">
                <div class="box-header">
                    <div class="title">Etape 2 > Formulaire étendu ( Varie en fonction du produit proposé )  </div>
                </div>

                <div class="box-section">

                    <div class="col-xs-7">

                        <div class="col-xs-6 div-no-padding">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-th-list"></span></div>
                                    <select name="#" id="#" class="form-control input-sm">
                                        <option value="#">Selectionnez une option dans le contenu</option>
                                    </select>
                                </div>
                            </div> <!-- form-group -->

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-share"></span></div>
                                    <select name="#" id="#" class="form-control input-sm">
                                        <option value="#">Selectionnez une option</option>
                                    </select>
                                </div>
                            </div> <!-- form-group -->

                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-volume-down"></span></div>
                                    <select name="#" id="#" class="form-control input-sm">
                                        <option value="#">Selectionnez une option</option>
                                    </select>
                                </div>
                            </div> <!-- form-group -->
                        </div> <!-- col-xs-6 -->

                     <div class="col-xs-6">
                         <div class="form-group">
                             <div class="input-group">
                                 <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-align-justify"></span></div>
                                 <select name="#" id="#" class="form-control input-sm">
                                     <option value="#">Selectionnez une option dans le contenu</option>
                                 </select>
                             </div>
                         </div> <!-- form-group -->

                         <div class="form-group">
                             <div class="input-group">
                                 <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-ok-sign"></span></div>
                                 <select name="#" id="#" class="form-control input-sm">
                                     <option value="#">Selectionnez une option</option>
                                 </select>
                             </div>
                         </div> <!-- form-group -->

                         <div class="form-group">
                             <div class="input-group">
                                 <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-briefcase"></span></div>
                                 <select name="#" id="#" class="form-control input-sm">
                                     <option value="#">Selectionnez une option</option>
                                 </select>
                             </div>
                         </div> <!-- form-group -->
                    </div> <!-- col-xs-6 -->

                    <div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                                Option one is this and that&mdash;be sure to include why it's great
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                                Option two can be something else and selecting it will deselect option one
                            </label>
                        </div>
                        <div class="radio disabled">
                            <label>
                                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                                Option three is disabled
                            </label>
                        </div>
                    </div> <!-- Les boutons radio -->
                    </div> <!-- col-xs-7 -->

                    <div class="col-xs-5">
                        <blockquote>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut blanditiis culpa tenetur.
                            Dolorum ducimus eum expedita fugiat illo minus nam, necessitatibus nostrum odio provident quaerat ratione, repudiandae rerum suscipit ullam.
                        </blockquote>

                    </div>

                    <div class="clearfix"></div>

                </div> <!-- Box section -->
            </div>  <!-- box -->
        </div> <!-- row formulaire extended-->

        <div class="row" role="formulaire validation">
         <div class="box">
                <div class="box-header">
                    <div class="title">Etape 3 > Validation du formulaire  </div>
                </div> <!-- box header -->

                <div class="box-section">
                    <div class="form-actions text-center">
                        <button type="submit" class="btn btn-blue btn-little-large">Save changes</button>
                        <button type="button" class="btn btn-default btn-little-large">Cancel</button>
                    </div>
                </div> <!-- box-section -->
            </div> <!-- box -->
        </div><!-- row formulaire validation -->
    </div> <!-- container -->
{{ form_rest(form) }}
    </div>
</form>