<div class="container-fluid rowing" xmlns="http://www.w3.org/1999/html">
    <div class="row">

        <div class="col-xs-4 space-box-top">
            <div class="box-annonce">
                <a href="#" class="box-annonce-link">

                    <div class="box-annonce-header">
                        <div class="box-annonce-title"><span class="glyphicon glyphicon-tags"></span> Le titre de l'annonce</div>
                        <ul class="box-toolbar">
                            <li><span class="label label-green label-small">170 000 €</span></li>
                        </ul>
                    </div>

                    <div class="box-annonce-section">
                        <div class="box-annonce-img">
                            <img src="{{ asset('bundles/site/images/maison.jpg') }}" alt="Image" class="img-responsive"/>
                        </div>
                        <div class="box-annonce-body">
                            <div class="news-time">
                                <span>06</span> jan
                            </div>
                            <p>
                                Mendi enim error expedita incidunt maxime, nesciunt obcaecati omnis?</p>
                        </div>
                    </div>
                    <div class="box-annonce-footer">
                        <div class="box-annonce-action">
                            <div class="box-annonce-nav">
                                <ul class="list-inline">
                                    <li><a href="#">Voiture</a></li>
                                    <li><a href="#">Arles (84)</a></li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('bundles/site/images/Avatars/user-8.jpg') }}" alt="Avatar" class="img-thumbnail-annonce img-responsive circle"/>Christophe Gautier
                                        </a>
                                        <div class="star star-blue">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </a>
            </div>
            <br/>
            <!-- Annonce 2 -->
            <div class="box-annonce">
                <a href="#" class="box-annonce-link">

                    <div class="box-annonce-header">
                        <div class="box-annonce-title"><span class="glyphicon glyphicon-tags"></span> AirPort Time Capsule</div>
                        <ul class="box-toolbar">
                            <li><span class="label label-yellow label-small">1000 €</span></li>
                        </ul>
                    </div>

                    <div class="box-annonce-section">
                        <div class="box-annonce-img">
                            <img src="{{ asset('bundles/site/images/time-capsule.jpg') }}" alt="Image" class="img-responsive"/>
                        </div>
                        <div class="box-annonce-body">
                            <div class="news-time">
                                <span>16</span> Mars
                            </div>
                            <p>
                                Avec AirPort Time Capsule, vous disposez à la fois d’une borne d’accès</p>
                        </div>
                    </div>
                    <div class="box-annonce-footer">
                        <div class="box-annonce-action">
                            <div class="box-annonce-nav">
                                <ul class="list-inline">
                                    <li><a href="#">Informatique</a></li>
                                    <li><a href="#">Paris (93)</a></li>
                                    <li>
                                        <a href="#">
                                            <img src="{{ asset('bundles/site/images/Avatars/user-5.jpg') }}" alt="Avatar" class="img-thumbnail-annonce img-responsive circle"/>Bob l'éponge
                                        </a>
                                        <div class="star star-blue">
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star"></span>
                                            <span class="glyphicon glyphicon-star-empty"></span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </a>
            </div>
        </div>

        <!-- Carte de france -->
        <div class="col-xs-4">
            <div class="box-acc-img">
                <img src="{{ asset('bundles/site/images/carte-de-france2.png') }}" alt="Fond image" class="img-responsive"/>
             </div>
        </div>

        <div class="col-xs-4">
                <div class="box-section box-annonce-activity">
                    <ul class="chat-box timeline">
                        <li class="arrow-box-left gray">
                            <div class="avatar"><img class="avatar-small img-responsive circle" src="{{ asset('bundles/site/images/Avatars/user-13.jpg') }}"></div>
                            <div class="info">
                                  <span class="name">
                                    <span class="label label-blue">VUE</span><strong class="indent">Titre de l'annonce</strong>à été lu - <strong class="striketdrough">Logement</strong>
                                  </span>
                                <span class="time"><i class="icon-time"></i> Il y a 1 heure</span>
                            </div>
                        </li>
                    </ul>
                </div>

            <!-- Annonce 2 -->
                 <div class="chat-box timeline">
                        <ul class="chat-box timeline">
                            <li class="arrow-box-left gray">
                                <div class="avatar"><img class="avatar-small img-responsive circle" src="{{ asset('bundles/site/images/Avatars/user-6.jpg') }}"></div>
                                <div class="info">
                                      <span class="name">
                                        <span class="label label-green">COMMENT</span> <strong class="indent">Alex D</strong> a commenté - <strong>Automobile</strong>
                                      </span>
                                  <span class="time"><i class="icon-time"></i> Il y 2 jours</span>
                                </div>
                                <div class="content">
                                    <a href="#">Titre de l'annonce en question</a>
                                    <blockquote>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    </blockquote>
                                </div>
                            </li>
                        </ul>
                 </div>

                <div class="text-left">
                    <br/><br/>
                    <button class="btn btn-blue"/><i class="fa fa-send"></i>Ajouter une annonce des maintenant</button>
                </div>
        </div>
        
    </div>

    <div class="row">
            <ul class="list-inline france-nav">
                {% for r in regions %}
                <li><a href="{{ path('region_annonce', {'region': r.slug }) }}">{{ r.nom }}</a></li>
                {% endfor %}
            </ul>
        </div>

    <div class="row">
        <ul class="list-inline footer-nav">
            <li><a href="#">&copy; Tinkernote 2014</a></li>
            <li><a href="#">Faq</a></li>
            <li><a href="#">Conditions générales</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Blog</a></li>
        </ul>
    </div>
</div>