<div class="container">

    <div class="row" role="breadcrumb">
        <div class="col-xs-12">
            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><span class="glyphicon glyphicon-home "></span> <a href="{{ path('bloc_homepage') }}" class="breadcrumb-link">Agora</a></span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <span class="glyphicon glyphicon-fullscreen"></span> Accueil </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
            </div>
        </div>
    </div> <!-- row breadcrumb -->

    <div class="row" role="feedback + screen ">
        <div class="col-xs-3">
            <div class="action-nav-normal">
                <div class="row action-nav-row">
                    <div class="col-sm-6 action-nav-button">
                        <a href="#" title="New Project">
                            <span class="glyphicon glyphicon-user"></span>
                            <span>New Project</span>
                        </a>
                    </div>

                    <div class="col-sm-6 action-nav-button">
                        <a href="#" title="Messages">
                            <span class="glyphicon glyphicon-list-alt"></span>
                            <span>Messages</span>
                        </a>
                        <span class="triangle-button yellow"><span class="triangle-button-text">+3</span></span>

                    </div>
                </div>
            </div>
            <div class="action-nav-normal">
                <div class="row action-nav-row">
                    <div class="col-sm-6 action-nav-button">
                        <a href="#" title="New Project">
                            <span class="glyphicon glyphicon-random"></span>
                            <span>Abonnés</span>
                        </a>
                        <span class="triangle-button red"><span class="triangle-button-text">+3</span></span>
                    </div>

                    <div class="col-sm-6 action-nav-button">
                        <a href="#" title="Messages">
                            <span class="glyphicon glyphicon-ban-circle "></span>
                            <span>Abonnements</span>
                        </a>
                        <span class="label label-black">14</span>
                    </div>
                </div>
            </div>
            <div class="action-nav-normal">
                <div class="row action-nav-row">
                    <div class="col-sm-6 action-nav-button">
                        <a href="#" title="New Project">
                            <span class="glyphicon glyphicon-calendar"></span>
                            <span>Annonces</span>
                        </a>
                        <span class="triangle-button green"><span class="triangle-button-text">+8</span> </span>
                    </div>

                    <div class="col-sm-6 action-nav-button">
                        <a href="#" title="Messages">
                            <span class="glyphicon glyphicon-headphones "></span>
                            <span>Messages</span>
                        </a>
                        <span class="triangle-button blue"><span class="triangle-button-text">+8</span> </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-9">
            <div class="box">
                <div class="box-header">
                    <div class="title">Les Feedbacks</div>
                    <ul class="box-toolbar">
                        <li><span class="label label-blue">178</span></li>
                    </ul>
                </div>
                <!-- Contenu du box -->
                <div class="box-content">
                    <div class="board-screen" style="background-image: url('{{ asset('bundles/site/images/no_avatar.jpg') }}')"></div>

                    <div class="col-xs-3">
                        <div class="dashboard-stats small">
                            <ul class="list-inline">
                                <li class="glyph"><span class="glyphicon glyphicon-euro"></span></li>
                                <li class="count">300 €</li>
                            </ul>
                            <div class="progress">
                                <div class="progress-bar progress-red tip" title="" data-percent="65" data-original-title="65%" style="width: 65%;"></div>
                            </div>
                            <div class="stats-label">Compteur des ventes</div>
                        </div>
                    </div> <!-- Box statistiques -->
                    <div class="col-xs-3">
                        <div class="dashboard-stats small">
                            <ul class="list-inline">
                                <li class="glyph"><span class="glyphicon glyphicon-thumbs-up"></span></li>
                                <li class="count">10</li>
                            </ul>
                            <div class="progress">
                                <div class="progress-bar progress-blue tip" title="" data-percent="35" data-original-title="35%" style="width: 35%;"></div>
                            </div>
                            <div class="stats-label">Annonce en cours</div>
                        </div>
                    </div> <!-- Box statistiques -->
                    <div class="col-xs-3">
                        <div class="dashboard-stats small">
                            <ul class="list-inline">
                                <li class="glyph"><span class="glyphicon glyphicon-heart-empty"></span></li>
                                <li class="count">8800</li>
                            </ul>
                            <div class="progress">
                                <div class="progress-bar progress-green tip" title="" data-percent="15" data-original-title="15%" style="width: 15%;"></div>
                            </div>
                            <div class="stats-label">Total Annonce</div>
                        </div>
                    </div> <!-- Box statistiques -->
                    <div class="col-xs-3">
                        <div class="dashboard-stats small">
                            <ul class="list-inline">
                                <li class="glyph"><span class="glyphicon glyphicon-user"></span></li>
                                <li class="count">8800</li>
                            </ul>
                            <div class="progress">
                                <div class="progress-bar progress-orange tip" title="" data-percent="50" data-original-title="50%" style="width: 50%;"></div>
                            </div>
                            <div class="stats-label">New Visitors</div>
                        </div>
                    </div> <!-- Box statistiques -->

                </div>
               <!-- Fin du contenu du box -->
            </div>
        </div> <!-- col-xs-5 -->
    </div> <!-- feedback et screen -->

    <div class="row" role="Blog">
        <div class="col-xs-6">
                <div class="box">
                    <div class="box-header">
                        <div class="title"><span class="glyphicon glyphicon-tags"></span> News witd avatars (scrollable box)</div>
                        <ul class="box-toolbar">
                            <li><span class="label label-blue">178</span></li>
                        </ul>
                    </div>
                    <div class="box-content" style="height: 400px; overflow-y: auto">
                        <div class="box-section news witd-icons">
                            <div class="avatar"><img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="Avatar" class="img-responsive"/></div>
                            <div class="news-time">
                                <span>06</span> jan
                            </div>
                            <div class="news-content">
                                <div class="news-title">
                                    <a href="#">Twitter Bootstrap v3.0 is coming!</a>
                                    <span class="label label-warning">3000€</span>
                                </div>
                                <div class="news-text">
                                    Witd 2.2.2 out tde door, our attention has shifted almost entirely to tde next major update to tde project ...
                                </div>
                            </div>
                        </div>
                        <!-- News supplémantaire pour meubler -->
                        <div class="box-section news with-icons">
                            <div class="avatar"><img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="Avatar" class="img-responsive"/></div>
                            <div class="news-time">
                                <span>22</span> Dec
                            </div>
                            <div class="news-content">
                                <div class="news-title"><a href="#">Twitter Bootstrap v3.0 is coming!</a>
                                 <span class="label label-warning">3000€</span>
                                </div>
                                <div class="news-text">
                                    Witd 2.2.2 out tde door, our attention has shifted almost entirely to tde next major update to tde project ...
                                </div>
                            </div>
                        </div>
                        <div class="box-section news witdhicons">
                            <div class="avatar"><img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="Avatar" class="img-responsive"/></div>
                            <div class="news-time">
                                <span>06</span> jan
                            </div>
                            <div class="news-content">
                                <div class="news-title">
                                    <a href="#">Twitter Bootstrap v3.0 is coming!</a>
                                    <span class="label label-warning">3000€</span>
                                </div>
                                <div class="news-text">
                                    Witd 2.2.2 out tde door, our attention has shifted almost entirely to tde next major update to tde project ...
                                </div>
                            </div>
                        </div>
                        <div class="box-section news with-icons">
                            <div class="avatar"><img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="Avatar" class="img-responsive"/></div>
                            <div class="news-time">
                                <span>11</span> Fev
                            </div>
                            <div class="news-content">
                                <div class="news-title">
                                    <a href="#">Twitter Bootstrap v3.0 is coming!</a>
                                    <span class="label label-warning">3000€</span>
                                </div>
                                <div class="news-text">
                                    Witd 2.2.2 out tde door, our attention has shifted almost entirely to tde next major update to tde project ...
                                </div>
                            </div>
                        </div>
                        <div class="box-section news with-icons">
                            <div class="avatar"><img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="Avatar" class="img-responsive"/></div>
                            <div class="news-time">
                                <span>06</span> jan
                            </div>
                            <div class="news-content">
                                <div class="news-title">
                                    <a href="#">Twitter Bootstrap v3.0 is coming!</a>
                                    <span class="label label-warning">3000€</span>
                                </div>
                                <div class="news-text">
                                    Witd 2.2.2 out tde door, our attention has shifted almost entirely to tde next major update to tde project ...
                                </div>
                            </div>
                        </div>
                        <div class="box-section news with-icons">
                            <div class="avatar"><img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="Avatar" class="img-responsive"/></div>
                            <div class="news-time">
                                <span>06</span> jan
                            </div>
                            <div class="news-content">
                                <div class="news-title">
                                    <a href="#">Twitter Bootstrap v3.0 is coming!</a>
                                    <span class="label label-warning">3000€</span>
                                </div>
                                <div class="news-text">
                                    Witd 2.2.2 out tde door, our attention has shifted almost entirely to tde next major update to tde project ...
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- Box des encours -->
        <div class="col-xs-6">
            <div class="box">
                <div class="box-header">
                    <div class="title"><span class="glyphicon glyphicon-stats"></span> Fil des activités</div>
                    <ul class="box-toolbar">
                        <li><span class="label label-blue">178</span></li>
                    </ul>
                </div>

                <div class="box-section box-annonce-activity">
                        <ul class="chat-box timeline">
                            <li class="arrow-box-left gray">
                                <div class="avatar"><img class="avatar-small img-responsive" src="{{ asset('bundles/site/images/maison.jpg') }}"></div>
                                <div class="info">
                      <span class="name">
                        <span class="label label-blue">VUE</span><strong class="indent">Titre de l'annonce</strong>à été lu - <strong class="striketdrough">Logement</strong>
                      </span>
                                    <span class="time"><i class="icon-time"></i> Il y a 1 heure</span>
                                </div>
                            </li>
                            <li class="arrow-box-left gray">
                                <div class="avatar"><img class="avatar-small img-responsive" src="{{ asset('bundles/site/images/rampe.jpg') }}"></div>
                                <div class="info">
                      <span class="name">
                        <span class="label label-blue">VUE</span><strong class="indent">Titre de l'annonce</strong>à été lu - <strong class="striketdrough">Informatique</strong>
                      </span>
                                    <span class="time"><i class="icon-time"></i> 6 minutes ago</span>
                                </div>
                            </li>
                            <li class="arrow-box-left gray">
                                <div class="avatar"><img class="avatar-small img-responsive" src="{{ asset('bundles/site/images/apple_macbook_pro_retina_mc976na.jpg') }}"></div>
                                <div class="info">
                      <span class="name">
                              <span class="label label-blue">VUE</span><strong class="indent">Titre de l'annonce</strong>à été lu - <strong class="striketdrough">Habillement enfant</strong>
                      </span>
                                    <span class="time"><i class="icon-time"></i> 6 minutes ago</span>
                                </div>
                            </li>
                            <li class="arrow-box-left gray">
                                <div class="avatar"><img class="avatar-small img-responsive" src="{{ asset('bundles/site/images/Avatars/world-burn.jpg') }}"></div>
                                <div class="info">
                      <span class="name">
                        <span class="label label-green">COMMENT</span> <strong class="indent">Alex D</strong> a posté un commentaire - <strong>Automobile</strong>
                      </span>
                                    <span class="time"><i class="icon-time"></i> Il y 21 jours</span>
                                </div>
                                <div class="content">
                                    <h6><a href="#">Titre de l'annonce en question</a></h6>
                                    <blockquote>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea!
                                    </blockquote>
                                    <div>
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="icon-paper-clip"></i> <b>Photo 1</b></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-paper-clip"></i> <b>Photo 2</b></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="arrow-box-left gray">
                                <div class="avatar"><img class="avatar-small img-responsive" src="{{ asset('bundles/site/images/Avatars/noAvatar.png') }}"></div>
                                <div class="info">
                                  <span class="name">
                                    <span class="label label-green">COMMENT</span><strong class="indent">Alex Lafrite</strong>a posté un commentaire - <strong>Informatique</strong>
                                  </span>
                                    <span class="time"><i class="icon-time"></i> Il y a 1 mois</span>
                                </div>
                                <div class="content">
                                    <h6><a href="#">Titre de l'annonce en question</a></h6>
                                    <blockquote>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                    </blockquote>
                                    <div>
                                        <ul class="list-inline">
                                            <li>
                                                <a href="#"><i class="icon-paper-clip"></i> <b>Photo 1</b></a>
                                            </li>
                                            <li>
                                                <a href="#"><i class="icon-paper-clip"></i> <b>Photo 2</b></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                </div>
            </div> <!-- Box -->
        </div>
    </div> <!-- Blog -->

    <div class="row" role="Annonce tableau">
            <div class="col-xs-12">
             <div class="box box-all-annonce">
                <table class="table table-striped table-hover tablesorter" id="latable">
                    <thead>
                        <th>#ID</th>
                        <th>Img</th>
                        <th>Titre de l'annonce</th>
                        <th>Date</th>
                        <th>Prix</th>
                        <th>Vu</th>
                        <th>Catégorie</th>
                     </thead>
                    <tbody>
                    <tr>
                        <td>[#12389]</td>
                        <td><img src="{{ asset('bundles/site/images/rampe.jpg') }}" alt="img" class="img-responsive"/></td>
                        <td><a href="#">Appartement pas cher dans le 14eme arrondissement</a></td>
                        <td>29/06/14</td>
                        <td><span class="label label-warning">190 000€</span></td>
                        <td>17 fois</td>
                        <td>Automobile</td>
                    </tr>
                    <tr>
                        <td>[#2787]</td>
                        <td><img src="{{ asset('bundles/site/images/rampe.jpg') }}" alt="img" class="img-responsive"/></td>
                        <td><a href="#">Appartement pas cher dans le 14eme arrondissement</a></td>
                        <td>29/06/14</td>
                        <td><span class="label label-warning">190 000€</span></td>
                        <td>17 fois</td>
                        <td>Habillement</td>
                    </tr>
                    <tr>
                        <td>[#12389]</td>
                        <td><img src="{{ asset('bundles/site/images/rampe.jpg') }}" alt="img" class="img-responsive"/></td>
                        <td><a href="#">Appartement pas cher dans le 14eme arrondissement</a></td>
                        <td>29/06/14</td>
                        <td><span class="label label-warning">190 000€</span></td>
                        <td>17 fois</td>
                        <td>Habillement</td>
                    </tr>
                    <tr>
                        <td>[#1]</td>
                        <td><img src="{{ asset('bundles/site/images/rampe.jpg') }}" alt="img" class="img-responsive"/></td>
                        <td><a href="#">Appartement pas cher dans le 14eme arrondissement</a></td>
                        <td>29/06/14</td>
                        <td><span class="label label-warning">190 000€</span></td>
                        <td>17 fois</td>
                        <td>Locations</td>
                    </tr>
                    <tr>
                        <td>[#12389]</td>
                        <td><img src="{{ asset('bundles/site/images/apple_macbook_pro_retina_mc976na.jpg') }}" alt="img" class="img-responsive"/></td>
                        <td><a href="#">Appartement pas cher dans le 14eme arrondissement</a></td>
                        <td>29/06/14</td>
                        <td><span class="label label-warning">190 000€</span></td>
                        <td>17 fois</td>
                        <td>Jeux Video/Console</td>
                    </tr>
                    <tr>
                        <td>[#2787]</td>
                        <td><img src="{{ asset('bundles/site/images/rampe.jpg') }}" alt="img" class="img-responsive"/></td>
                        <td><a href="#">Appartement pas cher dans le 14eme arrondissement a voir absolument</a></td>
                        <td>29/06/14</td>
                        <td><span class="label label-warning">190 000€</span></td>
                        <td>17 fois</td>
                        <td>Materiel agriculture</td>
                    </tr>
                    <tr>
                        <td>[#12389]</td>
                        <td><img src="{{ asset('bundles/site/images/rampe.jpg') }}" alt="img" class="img-responsive"/></td>
                        <td><a href="#">Appartement pas cher dans le 14eme arrondissement</a></td>
                        <td>29/06/14</td>
                        <td><span class="label label-warning">190 000€</span></td>
                        <td>17 fois</td>
                        <td>Habillement</td>
                    </tr>
                    <tr>
                        <td>[#1]</td>
                        <td><img src="{{ asset('bundles/site/images/maison.jpg') }}" alt="img" class="img-responsive"/></td>
                        <td><a href="#">Appartement pas cher dans le 14eme arrondissement</a></td>
                        <td>29/06/14</td>
                        <td><span class="label label-warning">190 000€</span></td>
                        <td>17 fois</td>
                        <td>Habillement</td>
                    </tr>
                    <tr>
                        <td>[#12389]</td>
                        <td><img src="{{ asset('bundles/site/images/rampe.jpg') }}" alt="img" class="img-responsive"/></td>
                        <td><a href="#">Appartement pas cher dans le 14eme arrondissement</a></td>
                        <td>29/06/14</td>
                        <td><span class="label label-warning">190 000€</span></td>
                        <td>17 fois</td>
                        <td>Habillement</td>
                    </tr>
                    <tr>
                        <td>[#1]</td>
                        <td><img src="{{ asset('bundles/site/images/maison.jpg') }}" alt="img" class="img-responsive"/></td>
                        <td><a href="#">Appartement pas cher dans le 14eme arrondissement</a></td>
                        <td>29/06/14</td>
                        <td><span class="label label-warning">190 000€</span></td>
                        <td>17 fois</td>
                        <td>Habillement</td>
                    </tr>
                    </tbody>
                </table>
                <div class="text-center">
                    <ul class="pagination pagination-sm ">
                        <li><a href="#">Précedente</a></li>
                        <li {#class="active"#}><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">Suivante</a></li>
                    </ul>
                </div>
            </div>
            </div>
    </div>
</div> <!-- Annonce tableau-->