<div class="row">
    <div class="col-xs-6 col-xs-offset-3">

        <div class="box">
            <div class="box-header">
                <div class="title">Mise à jour de l'avatar</div>
            </div>

            <div class="box-section box-change-avatar">
                <div class="col-xs-3">
                    <img src="{{ asset('uploads/avatar/'~app.user.avatar.path) }}" alt="{{ app.user.username }}" class="img-responsive "/>
                </div>
                <div class="col-xs-9">
                    <form action="#" method="post" {{ form_enctype(form) }}>
                        <div class="form-group">
                            {{ form_errors(form) }}
                            <label for="exampleInputFile">Choisissez votre fichier</label>
                            {{ form_widget(form.file,{'attr': {'class':'form-control input-sm'}}) }}
                            <p class="help-block">Example block-level help text here.</p>
                            {{ form_rest(form) }}
                        </div>

                        <div>
                            <button type="submit" class="btn btn-blue">Valider l'avatar</button>
                        </div>
                    </form>
                </div>  <!-- col-xs-9 -->
                <div class="clearfix"></div>
            </div> <!-- box-section -->
        </div> <!-- box -->

    </div> <!-- col-xs-6 -->
</div> <!-- row -->

