{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

    <div class="row" role="identité">
        <div class="col-xs-6">
            <h3 class="step">Identifiant</h3>
                <div class="form-group form-user-profile">
                    <div class="input-group">
                        {{ form_errors(form.username) }}
                        <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-user"></span></div>
                        {{ form_widget(form.username,{'attr': {'class': 'form-control input-sm disabled', 'placeholder': 'Nom d\'utilisateur' }}) }}
                    </div>
                </div>

                <div class="form-group form-user-profile">
                    <div class="input-group">
                        {{ form_errors(form.email) }}
                        <div class="input-group-addon input-sm">@</div>
                        {{ form_widget(form.email,{'attr': {'class': 'form-control input-sm', 'placeholder': 'Adresse email'}}) }}
                        </div>
                </div>

                <div class="form-group form-user-profile">
                    <div class="input-group">
                        {{ form_errors(form.current_password) }}
                        <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-eye-close"></span></div>
                        {{ form_widget(form.current_password,{'attr': {'class': 'form-control input-sm', 'placeholder': 'Mot de passe'}}) }}
                    </div>
                </div>

        </div> <!-- La partie formulaire -->

        <div class="col-xs-6">
            <h3 class="step">Identité</h3>

            <div class="row">
                <div class="error">{{ form_errors(form.firstname) }}</div>
                <div class="error">{{ form_errors(form.name) }}</div>
                <div class="col-xs-6">
                    <div class="form-group form-user-profile">
                        <div class="input-group">
                            <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-eye-close"></span></div>
                            {{ form_widget(form.name, {'attr': {'class': 'form-control input-sm', 'placeholder': 'Votre nom'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group form-user-profile">
                        <div class="input-group">
                            <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-eye-close"></span></div>
                            {{ form_widget(form.firstname,{'attr': {'class': 'form-control input-sm', 'placeholder': 'Votre prénom'}}) }}
                        </div>
                    </div>
                </div>

            </div> <!-- La seconde partie coté droit -->

            <div class="row">
                <div class="col-xs-6">
                    <div class="form-group form-user-profile">
                        {{ form_errors(form.phone) }}
                        <div class="input-group">
                            <div class="input-group-addon input-sm"><span class="glyphicon glyphicon-eye-close"></span></div>
                            {{ form_widget(form.phone,{'attr': {'class': 'form-control input-sm', 'placeholder': '0607080910'}}) }}
                        </div>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="form-group">
                        <div class="checkbox">
                            <ul class="list-inline">
                                <li>
                                    <label>{{ form_widget(form.showphone)}}Toujours afficher mon téléphone</label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
             </div>

            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group form-user-profile">
                        <div class="form-inline">
                            {{ form_label(form.age) }}
                            {{ form_errors(form.age) }}
                            {{ form_widget(form.age.day,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_widget(form.age.month,{'attr':{'class':'form-control input-sm'}}) }}
                            {{ form_widget(form.age.year,{'attr':{'class':'form-control input-sm'}}) }}
                        </div>
                    </div>
                </div>
            </div>

            </div>
    </div> <!-- row identité -->


    <div class="row" role="localisation">
        <div class="col-xs-6">
            <h3 class="step">Localisation</h3>

            <div class="form-group">
                <div class="input-group">

                    {% if ( app.user.region.id is defined ) %}
                        {% set region = app.user.region.id %}
                        {% set departement = app.user.departement.id %}
                        {% set ville = app.user.ville.id %}
                        {% else %}
                            {% set region = '' %}
                            {% set departement = '' %}
                            {% set ville = '' %}
                    {%  endif %}

                    <div class="input-group-addon input-sm iga-fosUser-register"><span class="glyphicon glyphicon-star"></span></div>
                    {{ form_widget(form.region,{'attr': {'class': 'form-control input-sm regionclass', 'rel': region }}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon input-sm iga-fosUser-register"><span class="glyphicon glyphicon-star"></span></div>
                    {{ form_widget(form.departement,{'attr': {'class': 'form-control input-sm departementclass', 'rel': departement }}) }}
                </div>
            </div>

            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon input-sm iga-fosUser-register"><span class="glyphicon glyphicon-star"></span></div>
                    {{ form_widget(form.ville,{'attr': {'class': 'form-control input-sm villeclass', 'rel': ville }}) }}
                </div>
            </div>
        </div>
        <div class="col-xs-6">
            <br />
            <br />
            <br />
            <br />
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, beatae cum excepturi,
                exercitationem facere fuga illo in itaque magnam perspiciatis porro ratione recusandae reprehenderit sit voluptatibus?
                Accusamus amet libero ullam.
            </p>
        </blockquote>
        </div>

    </div> <!-- row localisation-->

    <div>
        {{ form_rest(form) }}
    </div>

    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-success" />
    </div>

</form>