<div class="container">
    <div class="row" role="breadcrumb">
        <div class="col-xs-12">
            <div id="breadcrumbs">
                <div class="breadcrumb-button blue">
                    <span class="breadcrumb-label"><span class="glyphicon glyphicon-home "></span> <a href="{{ path('site_homepage') }}" class="breadcrumb-link">Agora</a></span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <span class="glyphicon glyphicon-tasks"></span>
                        <a href="{{ path('fos_user_profile_show', {'id': user.id}) }}" class="breadcrumb-link-inherit">Profile</a>
                    </span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>

                <div class="breadcrumb-button">
                    <span class="breadcrumb-label"> <span class="glyphicon glyphicon-user"></span> {{ user.username }}</span>
                    <span class="breadcrumb-arrow"><span></span></span>
                </div>
            </div>
        </div>
    </div> <!-- row breadcrumb -->

    <div class="col-xs-12">

        <div class="row">
                <div class="usr-profile-bg">
                    <div class="col-xs-10 no-padding">
                        <img src="{{ asset('bundles/site/images/no_avatar.jpg') }}" alt="User background" class="img-responsive"/>
                    </div>
                    <div class="col-xs-2">
                        <ul class="nav nav-pills nav-stacked nav-show-profile">
                            {% if user.isonline %}
                            <li><button type="button" class="btn btn-success btn-block"><i class="fa fa-plug"></i> Connecté</button></li>
                            {% else %}
                                <li><button type="button" class="btn btn-danger btn-block"><i class="fa fa-unlink"></i> Hors ligne</button></li>
                            {% endif %}

                            {% if app.user.id is defined %} {# Si l'utilisateur est connecté #}
                                {% if user.id != app.user.id  %} {# Si l'utilisateur regarde sa propre page #}
                                    {% if isFriends%}
                                        <li><a href="{{ path('board_remove_followed', {'followed' : user.id}) }}" class="inherit">
                                                <button type="button" class="btn btn-success btn-block"><i class="fa fa-group"></i> Se désabonner</button>
                                            </a></li>
                                    {% else %}
                                        <li>
                                            <a href="{{ path('board_add_followed', {'followed' : user.id}) }}" class="inherit">
                                                <button type="button" class="btn btn-info btn-block"><i class="fa fa-group"></i> S'abonner</button>
                                            </a>
                                        </li>
                                    {% endif %}
                                    <li><button type="button" class="btn btn-warning btn-block"><i class="fa fa-comments"></i> Envoyer un message</button></li>
                                {% else %}
                                    <li>
                                        <a href="{{ path('fos_user_profile_edit') }}" class="inherit">
                                            <button type="button" class="btn btn-info btn-block"><i class="fa fa-group"></i> Editer mon profil</button>
                                        </a>
                                    </li>
                                {% endif %}
                            {% else %}
                                <li>
                                    <a href="#" class="inherit">
                                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#notconnected"><i class="fa fa-group"></i> S'abonner</button>
                                    </a>
                                </li>
                                <li><button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#newMessageModal"><i class="fa fa-comments"></i> Envoyer un message</button></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
        </div> <!-- row -->

        <div class="row">
            <div class="usr-profile-avatar">
                {% if (user.firstname) and (user.name) is defined %}
                {% set surnom = '( '~user.firstname~' '~user.name~' )' %}
                {% else %}
                {% set surnom = null %}
                {% endif %}
                <img src="{{ asset('uploads/avatar/'~user.avatar.path) }}" alt="User background" class="img-responsive img-thumbnail img-circle user-avatar"/>
                <h2 class="text-center">{{ user.username }}  <span class="note">{{ surnom }} </span></h2>
            </div>
        </div> <!--uesr-profile-avatar -->

        <div class="row">
            <div class="box">
                <div class="box-section">
                  <div class="row">
                      <div class="col-xs-8">
                          <h4>Taux de complétion du profil</h4>
                          <div class="progress progress-striped">
                              {% if stats.pflcompletion >= 60 %}
                              {% set progressBar = 'progress-bar-warning' %}
                              {% endif %}
                              {% if stats.pflcompletion <= 50 %}
                              {% set progressBar = 'progress-bar-danger ' %}
                              {% endif %}
                              {% if stats.pflcompletion >= 70 %}
                              {% set progressBar = 'progress-bar-success ' %}
                              {% endif %}
                              <div class="progress-bar {{ progressBar }}" style="width: {{ stats.pflcompletion }}%">{{ stats.pflcompletion }}%</div>
                          </div>

                          <h4>A propos : </h4>

                          <div class="row">
                              <div class="col-xs-6">
                                  <p><span class="glyphicon glyphicon-envelope"></span> Adresse email: {{ user.email }}</p>
                                  <p><span class="glyphicon glyphicon-user"></span> Date de naissance : {{ user.age|date('d M Y') }}</p>
                                  <p><span class="glyphicon glyphicon-home"></span> Localisation: {{ user.ville.departement.region.nom }} - {{ user.ville.nom }} ({{ user.ville.postal }})</p>
                                  <p><span class="glyphicon glyphicon-phone"></span> Téléphone: {{ user.phone }}</p>
                              </div>

                              <div class="col-xs-6">
                                  <p><span class="glyphicon glyphicon-tags"></span> Membre niveau : {{ stats.userLevel }}</p>
                                  <p><span class="glyphicon glyphicon-headphones"></span>
                                      Dernière annonce posté le :
                                      {% if stats.lastAnnonce is not empty %} {{ stats.lastAnnonce.date|date("d M Y à h:m" ) }}
                                      {% else %} Aucune annonce publiée {% endif %}
                                  </p>
                                  <p><span class="glyphicon glyphicon-off"></span> Dernière connexion le : {{ user.lastLogin|date("d M Y à h:m" ) }}</p>
                              </div>
                          </div>

                          <div class="row">
                              <br/>
                              <div class="col-xs-12">
                                  <blockquote>
                                      <p>{{ user.finalword|nl2br }}</p>
                                      <small><cite title="Source Title"> Par  {{ user.username }}, membre depuis le {{ user.lastLogin|date('d M Y') }} </cite></small>
                                  </blockquote>
                              </div>
                          </div>
                      </div>

                      <div class="col-xs-4 col-user-show-activity">
                          <div class="box">
                              <div class="box-header">
                                  <div class="title">Statitstiques des annonces</div>
                              </div>
                              <div class="box-section">
                                  <ul class="list-group">
                                      <li class="list-group-item">
                                          <span class="badge ">{{ stats.totalAnnonces }}</span>
                                          Annonces
                                      </li>
                                      <li class="list-group-item">
                                          <span class="badge">0</span>
                                          Ventes réussies
                                      </li>
                                      <li class="list-group-item">
                                          <span class="badge">{{ stats.total_activeAnnonces }}</span>
                                          Annonces en cours
                                      </li>
                                  </ul>
                              </div>
                          </div>

                          <div class="box">
                              <div class="box-header">
                                  <div class="title">Abonnements</div>
                              </div>
                              <div class="box-section">
                                  <ul class="list-group">
                                      <li class="list-group-item">
                                          <span class="badge">14</span>
                                          Abonnements
                                      </li>
                                      <li class="list-group-item">
                                          <span class="badge">2</span>
                                          Abonnés
                                      </li>
                                  </ul>
                              </div>
                          </div>
                      </div>
                  </div> <!-- row -->
                </div>
            </div> <!-- box -->
        </div> <!-- row -->

    </div> <!-- col-xs-12 -->
</div> <!-- container -->

{% include 'SiteBundle:ModalBox/AnnonceModal:notConnected.html.twig' %}
{% include 'SiteBundle:ModalBox/MessageModal:newMessage.html.twig' %}